:root {
  --menu-bg-color: #484848;
  --menu-txt-color: white; 
}

#menu-primary-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--menu-bg-color);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#menu-primary-menu li {
  display: inline;
}
#menu-primary-menu li a {
  display: inline-block;
  color: var(--menu-txt-color);
  font-weight: 400;
  font-size: 1.125rem;
  text-align: center;
  margin-left: 8.25px;
  margin-right: 8.25px;
  text-decoration: none;
}
#menu-primary-menu li a:hover {
  border-bottom: var(--menu-txt-color) 1px solid;
}
